# Node modules
node_modules/

# Environment variables
.env

# MacOS specific files
.DS_Store

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo
